body {
 color:lawngreen;
 background: cyan;
 margin: 0px;
}
header {
    border-bottom: solid 2px rgb(10, 80, 5);
    padding: 20px;
    font-size: 32px;
    color: rgb(5, 138, 63));
}
section {
    background: rgb(88, 88, 88);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
div {
    margin-right: 20px;
}
.chamada-texto{
    margin-right: 5%;
}